{% extends 'layout.html' %}
{% block body %}
  <div class='row'>
    <div class='col-5 mx-auto'>
      <h3>Edit task</h3><hr>
      <form method='post' action="{{url_for('edit_task',id=row.id)}}">
        <div class='form-group'>
          <label>Task Name</label>
          <input type='text' name='task' required class='form-control' value='{{row.task}}'>
        </div>
        <div class='form-group'>
          <label>completed</label>
          <input type='text' name='completed' required class='form-control' value='{{row.completed}}'>
        </div>
        <input type='submit' value='Submit' class='btn btn-primary'>
      </form>
    </div>
  </div>
{% endblock %}